<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
<div>

    {{if .}}
    <main>
        <p><strong>variable names</strong> (identifiers) and <em>values</em>:</p>
        {{range $key, $value := .}}
                <p><strong>{{$key}}</strong></p>
                <ul>{{range $value}}<li><em>{{.}}</em></li>{{end}}</ul>
        {{end}}
    </main>
    {{end}}

    <h1>Admin Update User</h1>
    <form method="POST" action="/admin-update-user">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username" value="" autofocus />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" value="" />

        <label>Email:</label>
        <input type="email" name="email" placeholder="Email" value="" />

        <label>User Group(s):</label>
        <select name="userGroup" >
            <option value="Project Lead">Project Lead</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Team Member">Team Member</option>
        </select>

        <label>isActive:</label>
        <select name="isActive" >
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>

        <input type="submit" name="submit-btn" value="Update User" >
    </form>
</div>
</body>
</html>